@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Speedy";
    font-style: normal;
    font-weight: 100 900;
    src: url("/src/assets/fonts/SpeedyRegular-7BLoE.ttf") format("truetype");
  }

 @font-face {
  font-family: "Ubuntu-med";
  font-weight: 500;
  font-style: normal;
  src: url("/src/assets/fonts/Ubuntu-Medium.ttf") format("truetype");
 }

}
